@media screen and (max-width: 900px) {
    header {
        position: sticky;
        flex-direction: column;
        top: -50px;
    }

    h1 {
        margin-bottom: 0;
    }

    nav > ul {
        margin-top: 0;
    }

    .baner-1 {
        padding-top: 3rem;
    }

    .baner-1 .title {
        font-size: 52px;
    }

    .baner-1 .description {
        font-size: 32px;
    }

    .benefits > li {
        margin: 1rem;
    }

    #product-list > li {
    padding: 10vw;
    background: #BEBEBE;
    margin: 1rem;

    }

    .components {
        flex-direction: column;
    }

    .components-baner {
        width: 50%;
    }


    .benefits .image::after,
    .benefits .twice-images::after,
    .benefits .image::before,
    .benefits .twice-images::before  {
        display: none;
    }

}


